!!!
%html
%head
  %title
    DinosaurCatalog
%body
  %h1 DinosaurCatalog
  %hr
  %form
    %input{type: "text", name: "search", placeholder: "search"}
    %input{type: "submit", name: "submit", value: "go!"}

  .container-fluid
    .row
      .col-xs-12

        =yield

  .footer
    &copy; #{Date.current.year} DinosaurCatalog