!!!
%html
%head
  %title DinosaurCatalog
  =stylesheet_link_tag "application"

%body
  =render partial: "navbar"

  .container-fluid
    .row
      .col-xs-12
        =yield

  =render partial: "footer"
  =javascript_include_tag "application"