%table.table
  %thead
    %tr
      - @columns.each do |col|
        %th #{col.titleize}
  %tbody
    - @dinosaurs.each do |dino|
      %tr
        - @columns.each do |col|
          %td
            - if col == 'name'
              =link_to dino[:name], dinosaur_path(dino)
            - else
              #{dino[col]}