!!!
%html
%head
  %title
    DinosaurCatalog
%body
  %h1 DinosaurCatalog
  %hr
  %form
    %input{type: "text", name: "search", placeholder: "search"}
    %input{type: "submit", name: "submit", value: "go!"}